<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   
    <div class="parent">
        <div class="child one">one</div>
        <div class="child two">two</div>
        <div class="child three">three</div>
        <div class="child four">four</div>
        <div class="child five">five</div>
        <div class="child six">six</div>
        <div class="child seven">seven</div>
    </div>
</body>
</html>

<style>
.parent{
    gap: 10px;
    display: flex;
    
}
.child{
    width: 200px;
    height: 200px;
    background-color: black;
    color: aliceblue;
}

.one{
    order: 4;
}

.two{
 order: 3;
}

.three{
    order: 1;
}

.four{
    order: 2;
}
</style>